/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar img.banner-img {
  height:220px;
  width:auto;
}

footer a img {
  height: 50px;
  width: auto;
}


@media only screen and (max-width: 768px) {
  .navbar img.banner-img {
    height: auto;
    width: 100%;
  }

  footer a img {
    height: auto;
    width: 100%;
  }


  /* Additional adjustments for smaller mobile screens */
  @media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    header, footer {
        padding: 8px;
    }

    nav a {
        padding: 8px;
    }
  }

}
