<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CAEV.PagoLinea</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CAEV.PagoLinea.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div class="container d-flex align-items-center justify-content-center">
                <img src="/img/banner.jpg" class="banner-img" alt="Banner Pago en Linea Caev"/>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" style="padding-bottom: 5rem;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom bg-white">
        <div class="container text-center">
            <a class="mx-auto d-block" href="http://caev.gob.mx/" target="_blank">
                <img src="/img/caev-banner.png" alt="caev-banner" height="50" />
            </a>
            &copy; 2024 - CAEV Pago en Linea
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>