@{
    ViewData["Title"] = "Pago en Linea en mantenimiento";
    Layout = "_GuestLayout";
}

<div class="container text-center">
    <p style="max-width: 44rem; margin: 0 auto ;">Ten tu recibo a la mano para realizar tu pago. Por favor, asegúrate de tener los detalles correctos antes de proceder con el pago de tu recibo.</p>
</div>

<div class="maintenance-container container-fluid p-4 rounded-lg shadow-sm" style="background-color: #fffeeb; margin-top: 4rem;">
    <div class="div-maintenance">
        <img src="/img/maintenance.png" width="160" />
        <div class="alert my-4" role="alert" style="max-width: 44rem; margin:0 auto;">
            <h4 class="alert-heading pb-4">Sitio en Mantenimiento</h4>
            <p>Disculpa las molestias, Estamos realizando algunas mejoras en nuestro sitio para brindarte un mejor servicio. Por favor, vuelve a intentarlo pronto o contáctanos si tienes alguna duda.</p>
            <p class="mb-0">¡Gracias por tu comprensión!</p>
        </div>
        <img src="/img/maintenance2.png" width="160" />
    </div>
</div>