.stepwizard {
    display: flex;
    justify-content: space-between;
}
.stepwizard .btn {
    margin: 0 5px;
}
.stepwizard-step {
    flex: 1;
    text-align: center;
}
.stepwizard-step .btn-circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}


.card.datos{
    max-width: 32rem;
    margin: 1rem auto;
}