@{
    ViewData["Title"] = "Pago en Linea";
}

@model CAEV.PagoLinea.Models.InvoiceRequest

<div class="text-center">
    <h1 class="display-4">Pago en linea</h1>
    <p style="max-width: 44rem; margin: 0 auto ;">Ten tu recibo a la mano para realizar tu pago. Por favor, asegúrate de tener los detalles correctos antes de proceder con el pago de tu factura.</p>
</div>


<div class="container mt-4">

    <div class="stepwizard">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-secondary btn-circle" disabled>1</button>
            <p>Consulta tu saldo</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle" disabled>2</button>
            <p>Comprueba tus datos</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-secondary btn-circle" disabled>3</button>
            <p>Realiza tu pago</p>
        </div>
    </div>
    
    <div class="card datos shadow">
        <div class="card-header">
            2.- Comprueba tus datos
        </div>
        <div class="card-body">
            <p>@ViewBag.Message</p>
        </div>
    </div>

</div>
