@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>

<div class="d-flex align-items-center justify-content-center">
    <a href="/invoice">
        <img src="https://www.puertadelcielo.com.do/images/imagenes/secciones/pagos/banner-pagos.jpg" height="500" />
    </a>
</div>
